################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/packages
/Sikiro.Tookits.Core.Samples/bin/Debug/netcoreapp2.0
