################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/packages
/Sikiro.Tookits.Core.Samples/bin/Debug/netcoreapp2.0
/Sikiro.Tookits.Core/bin/Release
/Sikiro.Tookits.Core/obj/Release
/Sikiro.Tookits.Core.Samples/obj/Release/netcoreapp2.0
/Sikiro.Tookits/obj/Release
